In [1]:
from taklaGen import TalkaGenerator
TG=TalkaGenerator("maps.json",
                  "transliteration.json",
                  "class_map.csv")
TG.createTakla("যেকোনো সমস্যা সমাধানের জন্য দরকার আগে সমস্যার মূল শনাক্ত করা")
TG.data

       word     standard          FVC
0    যেকোনো       zekono       zakana
1    সমস্যা     shmoshya     shmashya
2  সমাধানের  shmadhanero  shmudhunara
3      জন্য        jonno        janna
4     দরকার     dorokaro     darakura
5       আগে          age          aga
6   সমস্যার   shmoshyaro   shmashyura
7       মূল         mulo         mala
8    শনাক্ত     shonakto     shanukta
9       করা         kora         kara